<% include templates/header.ejs %>
<% include templates/sidebar.ejs %>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <i class="fa fa-home"></i>
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Viewer Users</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <i class="fas fa-table"></i> Viewer Users
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th> username </th>
                      <th> email</th>
                      <th> mobile</th>
                      <th> date</th>
                      <th> status </th>
                      <!-- <th> user_type</th> -->
                      <th> action </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th> username </th>
                        <th> email</th>
                        <th> mobile</th>
                        <th> date</th>
                        <th> status </th>
                        <!-- <th> user_type</th> -->
                        <th> action </th>
                    </tr>
                </tfoot>
                <tbody>
                    <%
                        if(viewer_list != '')
                        {
                            for(var i=0; i < viewer_list.length; i++)
                            {
                                %>
                                    <tr>
                                        <td><%= viewer_list[i].username %></td>	
                                        <td><%= viewer_list[i].email%></td>
                                        <td><%= viewer_list[i].mobile_number%></td>
                                        <td><%= viewer_list[i].created_at%></td>
                                        <td>
                                            <%
                                                if(viewer_list[i].status == true)
                                                {
                                                    %>
                                                        Active
                                                    <%
                                                }
                                                else
                                                {
                                                    %>
                                                        Inactive
                                                    <%
                                                }
                                            %>
                                        </td>
                                        <!-- <td>
                                            <%
                                                if(viewer_list[i].role == 1)
                                                {
                                                    %>
                                                        Individual
                                                    <%
                                                }
                                                else if(viewer_list[i].role == 2)
                                                {
                                                    %>
                                                        Professional
                                                    <%
                                                }
                                            %>
                                        </td> -->
                                        <td>
                                            <a class="btn btn-danger btn-sm text-white" onClick="removeDetails('removeViewerUsers','<%= viewer_list[i]._id %>')" ><i class="fas fa-trash text-white" style="cursor:pointer"></i>&nbsp;&nbsp;Delete</a>											
                                        </td>
                                    </tr>
                                <%
                            }
                        }
                    %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>   